.btn {
    background-color: #1b9e38;
    color: white;
    font-weight: bold;
    padding: 10px 10px;
    border-radius: 300px;
    font-size: 13px;
    border: 1px solid #195827;
  }
  
  .btn:hover{
    cursor: pointer;
    padding: 11px 11px;
    border-radius: 300px;
    font-size: 13px;
  }

  .btn:active{
    cursor: pointer;
    border: 3px solid #195827;
  }
  
  .btn-square {
    border-radius: 5px;
  }
  
  .btn-outline {
    background-color: transparent;
    color: #FF9E34;
  }