.menu-container {
  padding: 10px 30px;
}

.img-meal{
  float: right;
  vertical-align: text-top;
  margin-right:35px;
  margin: 0;
  width: 130px;
  height: 130px;
}
  
  .menu {
    background-color: rgb(255, 255, 255);
    border: 1px solid #aaa;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 8px 8px 20px #111;
    cursor: pointer;
  }
  
  .menu > article {
    border-bottom: 1em solid #aaa;
    padding-bottom: 2em;
    padding-top: 2em;
  }
  
  .menu > article:last-child {
    border: none;
  }
  
  .menu-item {
    display: flex;
    justify-content: space-between;
  }

  .menu-item > article :hover{
    display: flex;
    background-color: rgb(161, 161, 161);
    justify-content: space-between;
  }
  
  .menu-item > div:nth-child(1) > h1 {
    margin: 0;
  }
  
  .menu-item > div:nth-child(1) > p {
    margin: 0;
    margin-top: 5em;
    margin-bottom: 5em;
    font-style: italic;
  }
  
  .menu-item > div:nth-child(1) > small {
    color: #e53935;
    font-size: 18em;
    font-weight: bold;
  }
  
  .input-container > span {
    font-weight: bold;
  }
  
  .input-container > input {
    width: 75px;
    font-size: 15px;
    margin-bottom: 10px;
    border: 1px solid #aaa;
    border-radius: 5px;
    padding: 5px;
    
  }
  .input-container.invalid > input {
    width: 75px;
    font-size: 15px;
    margin-bottom: 10px;
    border: 3px solid rgb(241, 23, 23);
    border-radius: 5px;
    padding: 5px;
  }
  