.navbar {
    height: 80px;
    background-color: #5e562d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
    color: white;
  }
  
  .navbar > figure {
    background-color: #1597ca;
    padding: 10px 30px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 18px;
    margin: 0;
    display: flex;
  }

  .navbar > figure:hover{
    cursor: pointer;
    border: 2px solid rgb(255, 255, 255);
    display: flex;
    
  }
  .navbar > figure:active{
    cursor: pointer;
    border: 3px solid rgb(255, 255, 255);
    display: flex;
    
  }

  .navbar > figure > small {
    background-color: #4b60bd;
    border-radius: 50%;
    padding: 5px 10px;
    margin-left: 10px;
  }